/* 
1. Positioning
2. Box Model and grid
3. Tipography
4. Visuals
5. Others
*/

:root {
  --primary-color: #EEEEEE;
  --secondary-color-1: #2f4faa;
  --secondary-color-2: #26cdd1;
  --hard-gray: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 70px auto auto auto;
  width: 100%;
}

section[id] {
  scroll-margin-top: 70px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto ;
  max-width: 1024px;
  padding: 15px;
  text-align: center;
}

.profile_info {
  margin: 15px 0;
}

.profile_info-title {
  margin: 15px 0;
  font-size: 4rem;
  font-weight: bold;
  color: var(--secondary-color-1);
}

.profile_info-paragraph {
  margin: 15px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--hard-gray);
}

.profile_img {
  justify-content: center;
  max-width: 320px;
  width: 60%;
}

.profile_img-photo {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* Projects section */
.projects {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color-1)
}

.projects_header {
  margin: 25px;
  display: flex;
  justify-content: center
}

.projects_header h2 {
  font-size: 4rem;
  color: var(--primary-color)
}

.projects_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto
}

.card {
  height: 150px;
  min-width: 280px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  margin: 15px
}

.card img {
  height: 100%;
  width: 100%
}

.card:hover .details {
  height: 100%;
  opacity: 1
}

.details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  opacity: 0;
  text-align: center;
  color: var(--primary-color);
  transition: 0.5s ease
}

.details h3 {
  font-size: 2rem
}

.details p {
  font-size: 1.5rem
}

.social-icons  {
  margin-top: 15px;
  display: flex;
  list-style: none;
}

.social-icons li {
  margin: 0 5px;
  font-size: 20px;
}

.social-icons li a {
  color: var(--primary-color)
}

.social-icons li a:hover {
  color: var(--secondary-color-1)
}

/* Skills section */
.skills {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color)
}

.skills_header {
  margin: 25px;
  display: flex;
  justify-content: center
}

.skills_header h2 {
  font-size: 4rem;
  color: var(--secondary-color-1)
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.tech-skill {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 20px auto;
}

.tech-skill img {
  width: 100%;
  height: 100%;
}

.tech-skill .tooltip_text {
  top: 110%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  width: 120px;
  padding: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  z-index: 1;
  visibility: hidden;
  background-color: var(--hard-gray);
  color: var(--primary-color);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s
}

.tech-skill .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--hard-gray) transparent;
}

.tech-skill:hover .tooltip_text {
  opacity: 1;
  visibility: visible
}

/* Footer */

.contact {
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color-1)
}

.contact_header {
  margin: 25px;
  display: flex;
  justify-content: center
}

.contact_header h2 {
  font-size: 4rem;
  color: var(--primary-color)
}

.contact_social-media ul {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.contact_social-media li {
  margin: 0 15px;
  font-size: 4rem;
}

.contact_social-media li a {
  color: var(--primary-color)
}

.contact_social-media li a:hover {
  color: var(--hard-gray)
}
