header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 5px 5px var(--hard-gray);
}

header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

nav .logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--hard-gray);
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-menu {
  display: flex;
  align-items: center;
  padding: 15px;
  list-style: none;
}

.nav-menu li {
  padding: 0 15px;
}

.nav-menu li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--hard-gray);
  text-decoration: none;
  position: relative;
}

.nav-menu a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color-1);
  border-radius: 2px;
}

.btn-menu_open,
.btn-menu_close {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--secondary-color-1);
    opacity: 0;
    pointer-events: none;
  }

  .nav-menu li {
    padding: 0;
  }

  .nav-menu li a {
    line-height: 90px;
    color: var(--primary-color);
  }

  .btn-menu_open,
  .btn-menu_close {
    height: 50px;
    width: 50px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .btn-menu_close {
    align-self: flex-end;
  }

  .btn-menu_open img,
  .btn-menu_close img {
    height: 100%;
    width: 100%;
  }

  .nav-menu_opened {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
  }

  .nav-menu a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
  }
}